<mat-toolbar>
  <span
    ><img width="150px" height="60px" src="Infrrd-Logo-Transparent.png" alt=""
  /></span>
  <span class="spacer"></span>
  <mat-icon matBadge="5">notifications</mat-icon>
  <button
    mat-stroked-button
    class="team-select"
    [matMenuTriggerFor]="teamSelector"
  >
    <mat-icon>groups</mat-icon>
    <span class="button-content"
      >Choose Team<mat-icon> keyboard_arrow_down</mat-icon></span
    >
  </button>
  <mat-menu #teamSelector="matMenu">
    <button
      *ngFor="let team of teams"
      (click)="setTeamFilter(team.value)"
      mat-menu-item
    >
      {{ team.viewValue }}
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer class="side-menu" mode="side" opened>
    <app-main-menu
      (toggleSubMenu)="toggleSubMenu()"
      (closeSubMenu)="closeSubMenu()"
    ></app-main-menu>
  </mat-drawer>
  <mat-drawer #subnav class="sec-side-menu" mode="side">
    <app-filter></app-filter>
  </mat-drawer>
  <mat-drawer-content [class.shrink-content]="isSubnavOpen">
    <div class="main-content">
      <app-employees></app-employees>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
